.nav-button {
  text-decoration: none !important;
  color: white;
  background-color: #f4c35ab8;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 10px;
}

.nav-button:hover {
  background-color: #f4c35ab8;
  color: white;
  text-decoration: none !important;
}